# TOPIC : String based question

In [ ]:
# Ques 1
s = 'this is my second assignment'

In [2]:
# Ques 1
s[::-1]

'tnemngissa dnoces ym si siht'

In [7]:
# Ques 2
s==s[::-1]

False

In [4]:
# Ques 3
s.upper()

'THIS IS MY SECOND ASSIGNMENT'

In [5]:
# Ques 4
s.lower()

'this is my second assignment'

In [4]:
# Ques 7
s.replace(' ','')

'thisismysecondassignment'

In [13]:
# ques 9
'is' in s

True

In [17]:
# ques 10
s.replace('second','third')

'this is my third assignment'

In [21]:
# ques 11
s.count('my')

1

In [28]:
# ques 12
s.find('h')

1

In [24]:
# ques 13
def find_last_occurrence(text, word):
    index = text.rfind(word)
    if index == -1:
        return None  
    return index
text = "This is my second assignment"
word = "assignment"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 18

In [ ]:
# ques 14
s = 'this is my 4th day of coding'

In [3]:
s.split()

['this', 'is', 'my', '4th', 'day', 'of', 'coding']

In [28]:
# ques 15 
l1 = ['abhishek', 'kumar']
l2 = ['verma']

In [31]:
str(l1 + l2)

"['abhishek', 'kumar', 'verma']"

In [6]:
# ques 16
s = 'this is my 4th day of coding'
s.replace(' ','_')

'this_is_my_4th_day_of_coding'

In [7]:
# ques 17
s.startswith('this')

True

In [8]:
# ques 18
s.endswith('class')

False

In [9]:
# ques 19
s.title()

'This Is My 4Th Day Of Coding'

In [12]:
s[::-1]

'gnidoc fo yad ht4 ym si siht'

In [2]:
# Ques 5

In [6]:

print('Enter the sentence :')
s = str(input())
vowels = 0
for i in s:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'O' or i == 'E' or i == 'I' or  i == 'U'):
        vowels = vowels +1
print('Number of vowels are:')
print(vowels)

Enter the sentence :

 this is my second assignment

Number of vowels are:
7

In [7]:
# Ques 6

In [12]:
print('Enter the sentence :')
s = str(input())
vowels = 0
for i in s:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'O' or i == 'E' or i == 'I' or  i == 'U'):
        vowels = vowels +1
print('Number of consonants are:')
print(len(s)-vowels)

Enter the sentence :

 this is third try

Number of consonants are:
14

In [13]:
# Ques 8

In [22]:
s = str(input())
count = 0
for char in s:
  count = count +1
print('Length of the string is :', count)

 hello

Length of the string is : 5

In [27]:
# Ques 13
s = 'abhishek'
s.rfind('h')

5

In [38]:
# Ques 20
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words :
        if len(word) > max_length:
            max_length = len(word)
            longest_word = max_length
    return longest_word
       
text = "This is "
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: 4

In [39]:
#ques 21

In [50]:
def find_longest_word(text):  
    longest_word =  max(text, key=len)
    return longest_word


words = input('Please enter string :')  
text = words.split()  
find_longest_word(text)

Please enter string : This is my second assignemnt

'assignemnt'

In [47]:
# Ques 22

In [52]:
def find_longest_word(text):  
    longest_word =  min(text, key=len)
    return longest_word


words = input('Please enter string :')  
text = words.split()  
find_longest_word(text)

Please enter string : This is my second assignemnt

'is'

In [49]:
# Ques 23

In [51]:
string = 'This is my second assignemnt'
string.isalnum()

False

In [53]:
#ques 24

In [55]:
def extract_digits(text):
  digits = ""
  for char in text:
    if char.isdigit():
      digits += char

  return digits
text = "Hello123world456"
extract_digits = extract_digits(text)
print("digits:",extract_digits)

digits: 123456

In [64]:
# Ques 25
def extract_alphabets(text):
  alphabets =""
  for char in text:
    if char.isalpha():
        alphabets += char
  return alphabets
text = "Hello123world456"
extract_alphabets = extract_alphabets(text)
print("alphabets :",extract_alphabets)

alphabets : Helloworld

In [1]:
# Ques 26

In [11]:
print('Enter the string :')
s = input()
upper = 0
for i in s:
    if(i.isupper()):
        upper += 1
print('no. of uppercase :',upper)

Enter the string :

 Abhishek

no. of uppercase : 1

In [13]:
# Ques 27
print('Enter the string :')
s = input()
lower = 0
for i in s:
    if(i.islower()):
        lower += 1
print('no. of uppercase :',lower)

Enter the string :

 Abhishek

no. of uppercase : 7

In [14]:
## Ques 28

In [18]:
print('Enter the string:')
s = input()
print(s.swapcase())

Enter the string:

 Abhishek

aBHISHEK

In [19]:
# Ques 29

In [23]:
s = 'abhishek kumar verma'
s.replace('kumar','')

'abhishek  verma'

In [24]:
# Ques 30

In [1]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "pwskills@gmail.com"
email2 = "pwskills"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [2]:
# ques 31
def extract_username(email):
    username = email.split('@')[0]   
    return username


email = "pwskills@gmail.com"
result = extract_username(email)
print(result)

pwskills

In [3]:
# ques 32
def extract_domain(email):
    domain = email.split('@')[1]   
    return domain


email = "pwskills@gmail.com"
result = extract_domain(email)
print(result)

gmail.com

In [6]:
# ques 33
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string


input_string = "Hello        this  is  my second   assignment"
result = replace_multiple_spaces(input_string)
print(result)

Hello this is my second assignment

In [7]:
# ques 34
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False


url1 = "https://www.google.com"
url2 = "google"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1) 
print(result2)

True
False

In [11]:
# ques 35
def extract_protocol(url):
    
    protocol_end = url.find("://")

    if protocol_end != -1:
        
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url1 = "ftp://ftp.youtube.com"
url2 = "http://google.com"
url3 = "http://www.pwskills.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: ftp
Protocol 2: http
Protocol 3: http

In [14]:
# ques 36
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency


input_str = "pwskills"


char_freq = character_frequency(input_str)


for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'p', Frequency: 1
Character: 'w', Frequency: 1
Character: 's', Frequency: 2
Character: 'k', Frequency: 1
Character: 'i', Frequency: 1
Character: 'l', Frequency: 2

In [17]:
# ques 37
import string

def remove_punctuation(input_string):
    
    translator = str.maketrans("", "", string.punctuation)

    
    clean_string = input_string.translate(translator)

    return clean_string


input_str = "Hello, This is my second assignment."

cleaned_str = remove_punctuation(input_str)


print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, This is my second assignment.
Cleaned string: Hello This is my second assignment

In [19]:
# ques 38
def contains_only_digits(input_string):
    
    return input_string.isdigit()


string1 = "484515"
string2 = "pwskills1232"
string3 = "7475.4541"


result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)


print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'484515' contains only digits: True
'pwskills1232' contains only digits: False
'7475.4541' contains only digits: False

In [20]:
# ques 39
def contains_only_alphabets(input_string):
    
    return input_string.isalpha()


string1 = "pwskills"
string2 = "1458611"
string3 = "451.451"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)


print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'pwskills' contains only alphabets: True
'1458611' contains only alphabets: False
'451.451' contains only alphabets: False

In [21]:
# ques 40
def string_to_list(input_string):
    
    char_list = list(input_string)
    return char_list


input_str = "Pwskills"


char_list = string_to_list(input_str)


print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Pwskills
List of characters: ['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [26]:
# ques 41
def are_anagrams(str1, str2):
    
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    
    return sorted(str1) == sorted(str2)


string1 = "race"
string2 = "care"
string3 = "pwskills"
string4 = "ineuron"


result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)


print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'race' and 'care' are anagrams: True
'pwskills' and 'ineuron' are anagrams: False

In [44]:
#ques 42
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
         encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        encoded_text += encoded_char
    return encoded_text
text = "This is my second assignment"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: qklv lv pb vhfrqg dvvljqphqw

In [50]:
# ques 42
def caesar_cipher(text, shift):

  
  encoded_text = ""

  
  for char in text:
    
    if char.isalpha():
      
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      
      encoded_char = char

    
    encoded_text += encoded_char

  
  return encoded_text

text = "Pwskills"
shift = 3


encoded_text = caesar_cipher(text, shift)


print("Encoded text:", encoded_text)

Encoded text: mzvnloov

In [52]:
# ques 43
def caesar_cipher_decoder(text, shift):
    

    
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
            
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
           
            decoded_char = char

        
        decoded_text += decoded_char

    
    return decoded_text

text = "mzvnloov"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: jwskills

In [57]:
# ques 44
import re
from collections import Counter

def most_frequent_word(input_string):
    
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    
    words = clean_string.split()

    
    word_counter = Counter(words)

    
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word


input_str = "Hello this is my second assignmnet , my name is xyz"


most_common = most_frequent_word(input_str)


print("Most frequent word:", most_common)

Most frequent word: is

In [59]:
# ques 45
import re

def unique_words(input_string):
    
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    
    words = set(clean_string.split())

    return words

input_str = "Hello this is my second assignmnet , my name is xyz"


unique_word_set = unique_words(input_str)


print("Unique words:", unique_word_set)

Unique words: {'my', 'this', 'assignmnet', 'second', 'xyz', 'hello', 'name', 'is'}

In [61]:
# ques 46
import re

def count_syllables(word):
    
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)


word1 = "pwskills"
word2 = "ineuron"
word3 = "data science"


syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)


print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'pwskills' has 1 syllables.
'ineuron' has 3 syllables.
'data science' has 4 syllables.

In [64]:
# ques 47
import re

def contains_special_characters(input_string):
    
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    
    match = pattern.search(input_string)

    
    return bool(match)


string1 = "Hello , this is my second assignment."
string2 = "hello"
string3 = "@"


result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)


print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello , this is my second assignment.' contains special characters: True
'hello' contains special characters: False
'@' contains special characters: True

In [66]:
# ques 48
def remove_nth_word(input_string, n):
    
    words = input_string.split()

    
    if n >= 1 and n <= len(words):
        
        removed_word = words.pop(n - 1)

        
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None


input_str = "This is second assigment"
n_value = 2


modified_str, removed_word = remove_nth_word(input_str, n_value)


print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is second assigment
Modified string: This second assigment
Removed word: is

In [40]:
# ques 49
s = 'pwskils'
s1 = s[:5] + 'l' + s[5:]
print('character added to nth position :',s1)

character added to nth position : pwskills

In [68]:
# ques 50 
def csv_string_to_list(csv_string):
    
    lines = csv_string.split('\n')

    
    result = []

    for line in lines:
        
        fields = line.split(',')

        
        result.append(fields)

    return result


csv_data = "Name, Age, Country\nAbhishek, 24, IND\nSameer, 25, IND\nSanjeev, 22, IND"


list_of_lists = csv_string_to_list(csv_data)


for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Abhishek', ' 24', ' IND']
['Sameer', ' 25', ' IND']
['Sanjeev', ' 22', ' IND']

## List based question

In [77]:
# ques 1
l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# ques 2
l = [1,5,46,7,5,1,4]
count = 0
for i in l:
    count += 1
print('Length of the given lsit :',count)

Length of the given lsit : 7

In [8]:
# ques 3
l = [1,4,8,6,4]
l1 = 40
l.append(l1)
print('Updated list :',l)

Updated list : [1, 4, 8, 6, 4, 40]

In [12]:
# ques 4
l = [4,5,8,46,4]
l1 = 51
l.insert(4,l1)
print('Updated list :',l)

Updated list : [4, 5, 8, 46, 51, 4]

In [13]:
# ques 5
l = [1,4,5,12,45,4,5]
l.remove(12)
print('Updated list :',l)

Updated list : [1, 4, 5, 45, 4, 5]

In [18]:
#ques 6
l = [45,477,54,12,4,1]
print('Original list :',l)
element_to_remove = l.pop(1)

print('Updated list :',l)
print('Removed element :',element_to_remove)

Original list : [45, 477, 54, 12, 4, 1]
Updated list : [45, 54, 12, 4, 1]
Removed element : 477

In [19]:
# ques 7
l = [1,4,5,67,5,9,4]
element_to_check = 67
if element_to_check in  l:
    print(f'{element_to_check} is present in the list.')
else:
    print(f"{element_to_check} is not present in the list.")

67 is present in the list.

In [23]:
# ques 8
l = [1,48,54,64,15,45]
element = 64
index = l.index(element)
print(f"Index of {element} is : {index}")

Index of 64 is : 3

In [24]:
# ques 9
l = [1,4,5,41,1,4,21,5,31,41,1,1,1]
element = 1
occur = l.count(element)
print(f"The element {element} is occurs {occur} times in the list")

The element 1 is occurs 5 times in the list

In [27]:
# ques 10
l = [1,12,4,5,7,8,9]
l.reverse()
print('Reversed list :',l)

Reversed list : [9, 8, 7, 5, 4, 12, 1]

In [29]:
# ques 11
l = [9,7,84,21,4,461,4,7]
l.sort()
print('Reversed list ascending order :',l)

Reversed list ascending order : [4, 4, 7, 7, 9, 21, 84, 461]

In [31]:
# ques 12
l = [9,7,84,21,4,461,4,7]
l.sort(reverse=True)
print('Reversed list desending order :',l)

Reversed list desending order : [461, 84, 21, 9, 7, 7, 4, 4]

In [35]:
# ques 13
l1 = []
for i in range(1,21):
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
# ques 14
l1 = []
for i in range(1,21):
    if i%2!=0:
        l1.append(i)
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
# ques 15
l = [1,4,2,4,8,6]
total_sum = sum(l)
print('Sum of the all element in list :',total_sum)

Sum of the element of list : 25

In [39]:
# ques 16
l = [1,4,2,4,8,6]
max_value = max(l)
print('Maximum value :',max_value)

Maximum value : 8

In [40]:
# ques 17
l = [1,4,2,4,8,6]
min_value = min(l)
print('Minimum value :',min_value)

Minimum value : 1

In [42]:
# ques 18
l1 = []
for i in range(1,11):
    i = i*i
    l1.append(i)
print('List of squares :',l1)

List of squares : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
# ques 19
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [24, 4, 30, 51, 94, 45, 74, 36, 62, 29]

In [46]:
# ques 20
l = [11,11,1,1,4,5,7,49,1,9,9]
l1 = list(set(l))
print('List without duplicates :',l1)

List without duplicates : [1, 4, 5, 7, 9, 11, 49]

In [43]:
# ques 21
l1 = [1,2,3,4]
l2 = [3,4,5,6]
l3 = []
for i in l1:
    if i in l2:
        l3.append(i)
print('Common elements between two lits :',l3)

Common elements between two lits : [3, 4]

In [55]:
# ques 22
l1 = [1,4,5,6,12,3,1,8,5]
l2 = [1,4,5,1,2,4,12,4]
different_element = list(set(l1).difference(l2))
print('Difference between list :' ,different_element)

Difference between list : [3, 6, 8]

In [56]:
# ques 23
l1 = [1,2,3]
l2 = [4,5,6]
merge = l1 + l2
print('Merged list',merge)

Merged list [1, 2, 3, 4, 5, 6]

In [59]:
# ques 24
l = [1,2,3]
l1 = []
for i in l:
    i = i*2
    l1.append(i)
print('Multiplied list :',l1)

Multiplied list : [2, 4, 6]

In [62]:
# ques 25
l = [1,2,4,8,6,12,5,41,3,1,3,15]
l1 = []
for i in l:
    if i%2!=0:
        l1.append(i)
print('Filtered list (even number) :',l1)

Filtered list (even number) : [1, 5, 41, 3, 1, 3, 15]

In [65]:
# ques 26
l = ['2','5','6']
l1 = []
for i in l:
    i = int(i)
    l1.append(i)
print('List of integers :',l1)

List of integers : [2, 5, 6]

In [66]:
# ques 27
l = [1,2,3,4,5,6]
l1 =[]
for i in l:
    i = str(i)
    l1.append(i)
print('List of strings :',l1)

List of strings : ['1', '2', '3', '4', '5', '6']

In [68]:
# ques 28
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
# ques 29
for i in range(1,10):
    if i <=1:
            print(n)
    else:
        return fib(n-1) + fib(n-2)

SyntaxError: 'return' outside function (2226599204.py, line 6)

10

In [2]:
# ques 30
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [1, 2, 3, 4, 5]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [4]:
# ques 31
def rotate_left(lst, n):
    n = n % len(lst) 
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 1

rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [2, 3, 4, 5, 6, 1]

In [6]:
# ques 32
def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 3
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [4, 5, 6, 1, 2, 3]

In [13]:
# ques 33
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [47]:
# ques 34
my_list = list(range(9))
chunk_size = 3
while my_list:
    chunk, my_list = my_list[:chunk_size], my_list[chunk_size:]
    print(chunk)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [16]:
# ques 35
my_list = [1,5,41,6,84,5]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 41

In [21]:
# ques 36
my_list = [2, 4, 6, 8, 10]
new_list = [ ]
for i in my_list:
    i = i*i
    new_list.append(i)
print('List of squares :',new_list)

List of squares : [4, 16, 36, 64, 100]

In [23]:
# ques 37
my_list = ['books', 'pen', 'pencils', 'class', 'notebooks']

my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary:", my_dict)

Converted dictionary: {'books': 0, 'pen': 1, 'pencils': 2, 'class': 3, 'notebooks': 4}

In [25]:
# ques 38
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [14, 8, 10, 15, 19, 6, 5, 20, 17, 2, 13, 18, 16, 1, 3, 4, 7, 9, 11, 12]

In [26]:
# ques 39
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [28]:
# ques 40
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("Yes ,The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

Yes ,The lists have at least one common element.

In [29]:
# ques 41
l = [1, 2, 3, 4, 5]
l.clear()
print("Empty list:", l)

Empty list: []

In [30]:
# ques 42
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [31]:
# ques 43
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [32]:
# ques 44
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [33]:
# ques 45
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [35]:
# ques 46
string_list = ["pwskills", "ineuron", "data science", "python", "machine learning"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: machine learning

In [36]:
# ques 47
string_list = ["pwskills", "ineuron", "data science", "python", "machine learning"]
shortest_string = string_list[0] 
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: python

In [38]:
# ques 48
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 10
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [41]:
# ques 49
def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

In [44]:
# ques 50
my_list = [45,74,8,49,1,58]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [45, 49, 8, 74, 1, 58]

## Tuple based question

In [2]:
# ques 1
t = (1,2,3,4,5)

In [47]:
# ques 2
t3 = t[2]
print('Third element is :',t3)

Third element is : 3

In [3]:
# ques 3
count = 0
for i in t:
    count += 1
print('The lenght of tuple is :',count)

The lenght of tuple is : 5

In [6]:
# ques 4
t = (1,2,45,8,41,2,41,21,2,1,2)
count = 0
ele_count = 2
for i in t:
    if i == ele_count:
        count += 1
print(f'Element {ele_count} is occurs {count} times in the tuple')

Element 2 is occurs 4 times in the tuple

In [7]:
# ques 5
my_tuple = (1,5,41,51,31,4,8,51,21,54)
element_to_find = 51
index = -1
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 51 is at index 3.

In [8]:
# ques 6
t = (1,5,41,1,3,1,51,41)
ele_check = 41
if ele_check in t:
    print(f'Element {ele_check} is present in the tuple')
else:
    print(f'Element {ele_check} is not present in the tuple')

Element 41 is present in the tuple

In [9]:
# ques 7
t = (1,2,4,3,4)
l = list(t)
print('Tuple :', t)
print('List :',l)

Tuple : (1, 2, 4, 3, 4)
List : [1, 2, 4, 3, 4]

In [11]:
# ques 8
l = [1,2,34,5]
t = tuple(l)
print('List :',l)
print('Tuple :',t)

List : [1, 2, 34, 5]
Tuple : (1, 2, 34, 5)

In [13]:
# ques 9
t = (40,50,60,70)
var1,var2,var3,var4=t
print('Variable 1 :',var1)
print('Variable 2 :', var2)
print('Variable 3 :', var3)
print('Variable 4 :', var4)

Variable 1 : 40
Variable 2 : 50
Variable 3 : 60
Variable 4 : 70

In [15]:
# ques 10
l = []
for i in range(1,11):
    if i%2==0:
        l.append(i)
print('Tuple of even numbers :',tuple(l))

Tuple of even numbers : (2, 4, 6, 8, 10)

In [16]:
# ques 11
l = []
for i in range(1,11):
    if i%2!=0:
        l.append(i)
print('Tuple of odd numbers :',tuple(l))

Tuple of odd numbers : (1, 3, 5, 7, 9)

In [17]:
# ques 12
t1 = (1,2,3)
t2 = (7,8,9)
t3 = t1 + t2
print('Concatenated tuple :',t3)

Concatenated tuple : (1, 2, 3, 7, 8, 9)

In [19]:
# ques 13
t = (1,2)
t2 = t*3
print('Repeated tuple :',t2)

Repeated tuple : (1, 2, 1, 2, 1, 2)

In [22]:
# ques 14
t1 = (1,2,3)
if len(t1) == 0:
    print('Tuple is empty')
else:
    print('Tuple is not empty')

Tuple is not empty

In [25]:
# ques 15
t = ((1,2,3),(4,5,6),(7,8,9))
print('Nested Tuple :',t)

Nested Tuple : ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [26]:
# ques 16
t = ((1,2,3),(4,5,6),(7,8,9))
first_ele = t[0]
print('First element of tuple :',first_ele)

First element of tuple : (1, 2, 3)

In [28]:
# ques 17
t = (12,)
print('Single element tuple :',t)

Single element tuple : (12,)

In [29]:
# ques 18
tuple1 = (1,2,3)
tuple2 = (1,2,4,5,6)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [31]:
# ques 19
t = (1,2,3,4,5,6)
del t
print(t)

NameError: name 't' is not defined

In [32]:
# ques 20
t = (1,2,34,56,4,5)
sliced = t[1:4]
print('Sliced tuple :',sliced)

Sliced tuple : (2, 34, 56)

In [34]:
# ques 21
t = (1,48,41,51,47,5)
max_value = max(t)
print('Maximum value in tuple :',max_value)

Maximum value in tuple : 51

In [35]:
# ques 22
t = (1,48,41,51,47,5)
min_value = min(t)
print('Minimum value in tuple:',min_value)

Minimum value in tuple: 1

In [37]:
# ques 23
s = 'pwskills'
t = tuple(s)
print('Tuple of characters :',t)

Tuple of characters : ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [38]:
# ques 24
t = ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')
s = ''.join(t)
print('String from tuple :',s)

String from tuple : pwskills

In [40]:
# ques 25
t = (1,'pwskills',34.15,True)
print('Multiple data type tuple :',t)

Multiple data type tuple : (1, 'pwskills', 34.15, True)

In [42]:
# ques 26
t1 = (1,2,3)
t2 = (4,5,6)
t3 = (1,2,3)
case1 = t1 == t2
case2 = t1 == t3
print('Is tuple 1 and tuple 2 identical? :',case1)
print('Is tuple 1 and tuple 3 identical? :',case2)

Is tuple 1 and tuple 2 identical? : False
Is tuple 1 and tuple 3 identical? : True

In [47]:
# ques 27
t = (1,7,48,61,641,58,45)
sorted_tuple = tuple(sorted(t))
print('Sorted tuple :',sorted_tuple)

Sorted tuple : (1, 7, 45, 48, 58, 61, 641)

In [51]:
# ques 28
t = (1,7,48,61,641,58,45)
l = []
for i in t:
    i = str(i)
    l.append(i)
print('Tuple of strings :',tuple(l))

Tuple of strings : ('1', '7', '48', '61', '641', '58', '45')

In [54]:
# ques 29
t = ('1', '7', '48', '61', '641', '58', '45')
l = []
for i in t:
    i = int(i)
    l.append(i)
print('Tuple of integers :',tuple(l))

Tuple of integers : (1, 7, 48, 61, 641, 58, 45)

In [56]:
# ques 30
t1 = (45,74,6,5)
t2 = (12,52,85,4)
merged_tuple = t1 + t2
print('Merged Tuple :',merged_tuple)

Merged Tuple : (45, 74, 6, 5, 12, 52, 85, 4)

In [58]:
# ques 31
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((11, 42), (113, 44, 58), (46, (557, 158)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (11, 42, 113, 44, 58, 46, 557, 158)

In [59]:
# ques 32
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [62]:
# ques 33
t1 = (1,2,3,2,1)
if t1 == t1[::-1]:
    print('Tuple is palindrome')
else:
    print("Tuple is not palindrome")

Tuple is palindrome

In [64]:
# ques 34
l =[]
for i in range(1,6):
    i = i*i
    l.append(i)
print('Tuple of squares :',tuple(l))

Tuple of squares : (1, 4, 9, 16, 25)

In [65]:
# ques 35
t = (1,2,3,4,5,6,7,8,9)
l = []
for i in t:
    if i%2!=0:
        l.append(i)
print('Filtered Tuple :',tuple(l))

Filtered Tuple : (1, 3, 5, 7, 9)

In [66]:
# ques 36
t = (1,5,10)
l = []
for i in t:
    i = i*2
    l.append(i)
print('Tuple :',tuple(l))

Tuple : (2, 10, 20)

In [67]:
# ques 37
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Random tuple:", random_tuple)

Random tuple: (34, 79, 64, 75, 6, 15, 72, 4, 15, 57)

In [68]:
# ques 38
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
t = (1,5,48,64)
is_sort = is_sorted(t)
print('Is tuple sorted? :',is_sort)

Is tuple sorted? : True

In [71]:
# ques 39
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (11, 211, 13, 41, 45)
n_positions = 4
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(45, 11, 211, 13, 41)

In [72]:
# ques 40
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple
my_tuple = (11, 211, 13, 41, 45)
n_positions = 4
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(211, 13, 41, 45, 11)

In [73]:
# ques 41
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [74]:
# Ques 42
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  pwskills,ineuron,data,science

User input tuple: ('pwskills', 'ineuron', 'data', 'science')

In [76]:
# ques 43
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(my_tuple[i] if i not in (index1, index2) else my_tuple[index2] if i == index1 else
    my_tuple[index1] for i in range(len(my_tuple)))
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [78]:
# ques 44
t = (1,2,3,4,5)
t2 = t[::-1]
print('Reversed tuple :',t2)

Reversed tuple : (5, 4, 3, 2, 1)

In [82]:
# ques 45
n = 5
l = []
for i in range(n):
    i = 2**i
    l.append(i)
print(f'The tuple of first {n} powers of 2 is :',tuple(l))

The tuple of first 5 powers of 2 is : (1, 2, 4, 8, 16)

In [84]:
# ques 46
t = ('pwskills','ineuron','data science')
longest_string = max(t, key = len)
print('Longest string in tuple :',largest_string)

Longest string in tuple : data science

In [85]:
# ques 47
t = ('pwskills','ineuron','data science')
smallest_string = min(t, key = len)
print('Smallest string in tuple :',smallest_string)

Smallest string in tuple : ineuron

In [86]:
# ques 48
n = 6
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 6 triangular numbers: (1, 3, 6, 10, 15, 21)

In [90]:
# ques 49
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [4]:
# ques 50
n = 5
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0)

## Set based question

In [2]:
# ques 1
s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [5]:
# ques 2
s  = {1,2}
print('Original set :',s)
ele_add = 4
s.add(ele_add)
print('Updated set :',s)

Original set : {1, 2}
Updated set : {1, 2, 4}

In [7]:
# ques 3
s = {1,2,4,5,6}
print('Original set :',s)
ele_remove = 4
s.remove(ele_remove)
print('Updated set :',s)

Original set : {1, 2, 4, 5, 6}
Updated set : {1, 2, 5, 6}

In [11]:
# ques 4
s = {1,4,5,6,7,9}
ele_check = int(input('Enter an element to check :'))
if ele_check in s:
    print(f'{ele_check} exits in set.')
else:
    print(f'{ele_check} does not exist in set.')

Enter an element to check : 5

5 exits in set.

In [13]:
# ques 5
s = {1,7,8,6,9,4,6}
count = 0
for i in s:
    count += 1
print('Length of set is :',count)

Length of set is : 6

In [15]:
# ques 6
s = {1,4,8,9,10}
print('Original set :',s)
s.clear()
print('Updated set after clear :',s)

Original set : {1, 4, 8, 9, 10}
Updated set after clear : set()

In [17]:
# ques 7
s = set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print('Set of even number :',s)

Set of even number : {2, 4, 6, 8, 10}

In [19]:
# ques 8
s = set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print('Set of odd number :',s)

Set of odd number : {1, 3, 5, 7, 9}

In [21]:
# ques 9
s1 = {1,2,3}
s2 = {7,5,9}
s3 = s1.union(s2)
print('Union of two sets :',s3)

Union of two sets : {1, 2, 3, 5, 7, 9}

In [24]:
# ques 10
s1 = {1,2,3,7,8}
s2 = {3,7,5,9,6,10}
s3 = s1.intersection(s2)
print('Intersection of two sets :',s3)

Intersection of two sets : {3, 7}

In [25]:
# ques 11
s1 = {1,2,3,7,8}
s2 = {3,7,5,9,6,10}
s3 = s1.difference(s2)
print('Difference of two sets :',s3)

Difference of two sets : {8, 1, 2}

In [26]:
# ques 12
s1 = {1,2,3,7,8}
s2 = {3,7,5,9,6,10}
s3 = s1.issubset(s2)
print('Is set 1 subset of set 2? :',s3)

Is set 1 subset of set 2? : False

In [28]:
# ques 13
s1 = {1,2,3,4,5,6,7}
s2 = {4,5}
s3 = s1.issuperset(s2)
if s3:
    print("Set 2 is subset of Set 1")
else:
    print("Set2 is not subset of Set 1")

Set 2 is subset of Set 1

In [30]:
# ques 14
l = [1,23,4,5]
s = set(l)
print('Original list :',l)
print('Set from list :',s)

Original list : [1, 23, 4, 5]
Set from list : {1, 4, 5, 23}

In [31]:
# ques 15
s = {1,2,3,4,5}
l = list(s)
print('Original set :',s)
print('List from set :',l)

Original set : {1, 2, 3, 4, 5}
List from set : [1, 2, 3, 4, 5]

In [33]:
# ques 16
import random
s = {1, 2, 3, 4}
print("Original set:", s)
random_element = random.choice(list(s))
s.remove(random_element)
print("Updated set after removing", random_element, ":", s)

Original set: {1, 2, 3, 4}
Updated set after removing 1 : {2, 3, 4}

In [34]:
# ques 17
s = {1, 2, 3, 4}
print('Original set :',s)
pop_ele = s.pop()
print('Popped element :',pop_ele)
print('Set after pop :',s)

Original set : {1, 2, 3, 4}
Popped element : 1
Set after pop : {2, 3, 4}

In [43]:
# ques 18
s1 = {1,2,3}
s2 = {4,6,5}
ele_check = s1.intersection(s2)
if len(ele_check) > 0:
    print('Sets have common element :',ele_check)
else :
    print("Sets dont have common element")

Sets dont have common element

In [46]:
# ques 19
s1 = {1,2,3}
s2 = {4,1,5}
symm_diff = s1 ^ s2
print('Symmetric difference :',symm_diff)

Symmetric difference : {2, 3, 4, 5}

In [49]:
# ques 20
s1 = {1,2,3}
s2 = {4,6,5}
print('Set 1 :',s1)
print('Set 2 :',s2)
s1.update(s2)
print('Updated set 1 :',s1)

Set 1 : {1, 2, 3}
Set 2 : {4, 5, 6}
Updated set 1 : {1, 2, 3, 4, 5, 6}

In [2]:
# ques 21
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [3]:
# ques 22
s1 = {1,2,3,4}
s2 = {4,5,6}
if s1 == s2:
    print('Sets are identical')
else:
    print('Sets are not identical')

Sets are not identical

In [4]:
# ques 23
l = [1,2,3,4,6]
frozen_set = frozenset(l)
print('Frozen set :', frozen_set)

Frozen set : frozenset({1, 2, 3, 4, 6})

In [5]:
# ques 24
s1 = {1,2,3,4}
s2 = {4,5,6}
disj = s1.isdisjoint(s2)
print('Are the sets disjoint? :',disj)

Are the sets disjoint? : False

In [6]:
# ques 25
s = set()
for i in range(1,6):
    i = i*i
    s.add(i)
print('Set of squares :',s)

Set of squares : {1, 4, 9, 16, 25}

In [8]:
# ques 26
d = {1,4,6,2,15,85,6}
s = set()
for i in d:
    if i%2!=0:
        s.add(i)
print('Updated set of odd numbers :',s)

Updated set of odd numbers : {1, 85, 15}

In [11]:
# ques 27
s = set()
s1 = {1,4,9,3,7}
for i in s1:
    i = i*2
    s.add(i)
print('Set after multiplied by 2 :',s)

Set after multiplied by 2 : {2, 6, 8, 14, 18}

In [12]:
# ques 28
import random
num_random_numbers = 5
random_number_set = set()
for i in range(num_random_numbers):
    random_num = random.randint(1, 100)
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {100, 42, 83, 52}

In [13]:
# ques 29
s = {1,4,45,6}
if len(s) > 0:
    print('Set is not empty.')
else:
    print('Set is empty.')

Set is not empty.

In [14]:
# ques 30
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}
frzn_s1 = frozenset(s1)
frzn_s2 = frozenset(s2)
nested_set = {frzn_s1, frzn_s2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [15]:
# ques 31
s = {1,4,9,63,45}
print("Original set",s)
ele_disc = 63
s.discard(ele_disc)
print("Set after discarding element",ele_disc,":",s)

Original set {1, 4, 9, 45, 63}
Set after discarding element 63 : {1, 4, 9, 45}

In [16]:
# ques 32
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [18]:
# ques 33
s = 'pwskills'
set1 = set(s)
print('Set from string :',set1)

Set from string : {'s', 'i', 'k', 'l', 'p', 'w'}

In [19]:
# ques 34
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

In [22]:
# ques 35
int_set = {1,2,3}
str_set = set()
for i in int_set:
    str1 = str(i)
    str_set.add(str1)
print('Original set :',int_set)
print('Converted set :',str_set)

Original set : {1, 2, 3}
Converted set : {'2', '3', '1'}

In [27]:
# ques 36
t = (1,2,3,4,85,4)
s = set(t)
print("Converted set from tuple :",s)

Converted set from tuple : {1, 2, 3, 4, 85}

In [28]:
# ques 37
s = {1,2,5,46}
t = tuple(s)
print('Converted tuple from set :',t)

Converted tuple from set : (1, 2, 5, 46)

In [29]:
# ques 38
my_set = {15, 7, 22, 13, 8}
max_value = None
for num in my_set:
  
    if max_value is None or num > max_value:
        max_value = num 

print("Maximum value:", max_value)

Maximum value: 22

In [30]:
# ques 39
number_set = {15, 8, 23, 4, 42, 11}
min_value = None

for num in number_set:

    if min_value is None or num < min_value:
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [31]:
# ques 40
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 

    if user_input.lower() == 'done':
        break 
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  1
>  5
>  9
>  15
>  done

Final set: {'15', '5', '9', '1'}

In [1]:
# ques 41
s1 = {1,2,3}
s2 = {3,4,5}
s3 = s1.intersection(s2)
if len(s3) ==0:
    print('Intersection of two sets is epmty.')
else:
    print('Intersection of two sets is not empty.')

Intersection of two sets is not empty.

In [6]:
# ques 42
s =set()
a,b = 0, 1
for i in range(6):
    s.add(a)
    a,b=b,a+b
print('Set of first five fibbonaci numbers :',s)

Set of first five fibbonaci numbers : {0, 1, 2, 3, 5}

In [7]:
# ques 43
l = [1,2,4,1,4,2,10,2,4,1,5,1]
s = set(l)
l1 = list(s)
print('Original list with duplicates :',l)
print('Original list with no duplicates :',l1)

Original list with duplicates : [1, 2, 4, 1, 4, 2, 10, 2, 4, 1, 5, 1]
Original list with no duplicates : [1, 2, 4, 5, 10]

In [8]:
# ques 44
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [12]:
# ques 45
s = set()
n = int(input('Enter the power of 2 :'))
for i in range(n):
    
    i = 2**i
    s.add(i)
print(f'first {n} powers of 2 is :',s)

Enter the power of 2 : 5

first 5 powers of 2 is : {1, 2, 4, 8, 16}

In [15]:
# ques 46
s = {1,2,3,4,5}
l = [4,5,6,7,8]
s1 = set(l)
common_ele = []
for i in s:
    if i in s1:
        common_ele.append(i)
print('Common Elemensts :',common_ele)

Common Elemensts : [4, 5]

In [16]:
# ques 47
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)   
    return triangular_numbers
n = int(input("Enter the value of n: "))

triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  4

The set of the first 4 triangular numbers is: {1, 10, 3, 6}

In [19]:
# ques 48
s1 = {1,2,4,5,6}
s2 = {4,5,6}
s3 = s2.issubset(s1)
if s3:
    print('Set 2 is subset of set 1')
else:
    print('set2 is not subset of set 1')

Set 2 is subset of set 1

In [21]:
# ques 49
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set
length_n = 10

result = create_alternating_set(length_n)
print(result)

{0, 1}

In [22]:
# ques 50
s1 = {1,2,3}
s2 = {4,5,6}
s3 ={7,8,9}
merged_set = s1.union(s2,s3)
print('Merged sets :',merged_set)

Merged sets : {1, 2, 3, 4, 5, 6, 7, 8, 9}